mixin createPostForm(userLoggedIn)
    .postFormContainer
        .userImageContainer
            img(src=userLoggedIn.profilePicture, alt=`${userLoggedIn.username}'s profile picture`)
        .textareaContainer
            textarea#postTextarea(placeholder="What is happening?!")
            .buttonContainer
                button#submitPostButton(disabled="") Post